.bubble
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../_img/bubble_sprite_sheet.png") ;
}
.cur_bubble
{
    position: absolute;
    left: 360px;
    top: 470px;
}
.bubble_0
{
    background-position: 0 0 ;
}
.bubble_1
{
    background-position: 0 -50px;
}    
.bubble_2
{
    background-position: 0 -100px;
}
.bubble_3
{
    background-position: 0 -150px;
}