body {
    margin: 0;
}

#page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 738px;
}

#top_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px; 
    background-color: #369;
    color: #fff;
}

#game {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 620px; 
    background-color: #fff;
    clip: auto;
    overflow: hidden;
}

#board {
    position: absolute;
    left:120px;
    top: 70px;
    width: 760px;
    height: 620px;
}

#footer_bar {
    position:  absolute;
    left: 0;
    top: 690px;
    width: 100%;
    height: 48px;
    background-color: #369 
}
.dialog
{
position: absolute;    
left: 300px;
top: 110px;
height: 460px;
width: 320px;
background-color: #369;
border-radius: 30px;
border: 2px solid #99f;
padding: 20px 50px;
color: #fff;
text-align: center;
display: none;
}
.dialog h2
{
font-size: 28px;
color: #fff;
margin: 20px 0 20px;    
}
.but_start_game
{
position: absolute;
left: 100px;
top: 360px;
height: 60px;
width: 200px;
background-color: #f00;
cursor: pointer;
border-radius: 15px;
border: 2px solid #f66;
font-size: 28px;
line-height: 60px;
font-weight: bold;
text-shadow: 0px 1px 1px #f99;
}
.but_start_game    
{
   background-color: #f33;    
}
#start_game
{
    display: block
}